<div class="market-detail">
  <h2 class="row">
    <div class="col-2">
      <button class="btn btn-secondary" (click)="backToMarkets()">Back</button>
    </div>
    <div class="col py-2">
      {{ market["question"] }}
    </div>
  </h2>
  <hr />
  <ul class="outcomes row">
    @for (outcome of outcomes; track $index) {
    <div *ngIf="$index && (outcomes.length % 2 !== 0 || !($index % 2))">
      <hr />
    </div>
    <li>
      <div class="action-buttons">
        <button class="btn btn-success" (click)="openModal($index, 'buy')">
          Buy
        </button>
        <span>{{ outcome.title }}</span>
        <button class="btn btn-danger" (click)="openModal($index, 'sell')">
          Sell
        </button>
      </div>
      <hr />
      @for (stat of [{value: outcome.price, title: 'Price'}, {value:
      outcome.balance, title: 'Your Balance'}, {value:
      outcome.participationPossibility, title: 'Participation'}]; track $index)
      {
      <div class="outcome-details row">
        <div class="col">{{ stat.title }}</div>
        <p class="col text-center" style="font-weight: bolder">
          {{ stat.value }}
        </p>
      </div>
      }
    </li>
    }
  </ul>
  <div
    class="badge bg-success bg-pill px-5 py-2 my-3 mx-auto"
    *ngIf="successMessage"
  >
    {{ successMessage }}
  </div>
  <div
    class="badge bg-danger bg-pill px-5 py-2 my-3 mx-auto"
    *ngIf="errorMessage"
  >
    {{ errorMessage }}
  </div>

  <div
    class="modal"
    tabindex="-1"
    [class.show]="isModalOpen"
    style="display: block"
    *ngIf="isModalOpen"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{ modalType | titlecase }} Outcome</h5>
          <button
            type="button"
            class="btn-close"
            (click)="closeModal()"
          ></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="amount" class="form-label">Amount</label>
              <input
                type="number"
                id="amount"
                class="form-control"
                [(ngModel)]="amount"
                name="amount"
              />
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-primary"
            (click)="confirmAction()"
          >
            Confirm
          </button>
          <button
            type="button"
            class="btn btn-secondary"
            (click)="closeModal()"
          >
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col mx-auto py-2 badge bg-primary badge-pill" style="font-size: 100%;" *ngIf="userCollateralBalance != null">
      User's {{ market["collateralToken"]?.name }} Balance:
      <span class="text-warning">{{ userCollateralBalance }}</span>
    </div>
  </div>
</div>
